* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --all-border: 2px solid #000;
  --sky-color: linear-gradient(
    to bottom,
    rgba(53, 80, 112, 0.8),
    20%,
    rgba(108, 88, 121, 0.8),
    rgba(181, 101, 118, 0.8),
    rgba(229, 107, 111, 0.8),
    rgba(234, 172, 139, 0.8)
  ),
  linear-gradient(
    50deg,
    rgba(53, 80, 112, 0.8),
    20%,
    rgba(108, 88, 121, 0.8),
    rgba(181, 101, 118, 0.8),
    rgba(229, 107, 111, 0.8),
    rgba(234, 172, 139, 0.8)
  ),
  linear-gradient(
    20deg,
    rgba(53, 80, 112, 0.8),
    20%,
    rgba(108, 88, 121, 0.8),
    rgba(181, 101, 118, 0.8),
    rgba(229, 107, 111, 0.8),
    rgba(234, 172, 139, 0.8)
  )
  ;
  /* --sub-sky-color: linear-gradient(to bottom, #b56576, #e56b6f, #eaac8b); */
  --moon-color: ivory;
  --egg-color: #f3d8c7;
  --eye-color: #fff;
  --tear-color: #e6edf0;
  --mud-color: #70543e;
  --dress-color: #01a0a0;
}
/* --container contains everything */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sky-color);
  overflow: hidden;
}
.container {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* sky contains moon, skyBumps and stars */
.darkSky {
  /* border: var(--all-border); */
  flex-grow: 1;
  flex-shrink: 1;
  background: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
.moon {
  position: relative;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  left: 80%;
}
.moon::before {
  content: '';
  position: absolute;
  left: 60%;
  height: 150px;
  width: 125px;
  border-radius: 50%;
  box-shadow: 0px 70px 2px var(--moon-color);
  transform: rotate(60deg);
}
.moon::after {
  content: "";
  position: absolute;
}
.AllSkyBumps {
  /* border: var(--all-border); */
  display: flex;
  /* background-color: transparent; */
  height: 15%;
  width: 100vw;
  position: absolute;
  top: 95%;
}
.skyBump {
  /* border: var(--all-border); */
  height: 100%;
  flex-grow: 1;
  background-color: var(--sky-color);
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
}
.stars {
}
/* eggSpace contains lonelyEgg */
.eggSpace {
  /* border: var(--all-border); */
  flex-grow: 3;
  flex-shrink: 3;
  background-color: #fff;
  /* position: relative; */
  display: flex;
  justify-content: center;
  background: transparent;
}
.lonelyEgg {
  position: absolute;
  height: 300px;
  width: 250px;
  background-color: var(--egg-color);
  top: 40%;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  /* transform: rotate(20deg); */
}
.lonelyEgg::before{
  content: "";
  position: absolute;
  height: 160px;
  width: 250px;
  background-color: var(--dress-color);
  top: 47%;
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}
.lonelyEgg::after{
  content: "";
  position: absolute;
  height: 70px;
  width: 10px;
  background-color: var(--dress-color);
  top: 32%;
  left: 6%;
  box-shadow: 210px 0 0 var(--dress-color);
}
.eye-plane {
  background-color: transparent;
  height: 15%;
  width: 80%;
  position: absolute;
  top: 15%;
  left: 10%;
  display: flex;
  justify-content: space-evenly;
}
.eye {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: var(--eye-color);
  position: relative;
}
.eye-iris-plane {
  background-color: transparent;
  height: 15%;
  width: 47%;
  position: absolute;
  top: 17%;
  left: 26.5%;
  display: flex;
  justify-content: space-between;
}
.eye-iris1,
.eye-iris2 {
  content: '';
  background-color: #000;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  top: 0px;
  position: relative;
}
.eye-iris1::after,
.eye-iris2::after {
  position: absolute;
  content: '';
  background-color: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.eye-iris1::after {
  top: 4px;
  left: 15px;
}
.eye-iris2::after {
  top: 5px;
  left: 1px;
}
.eye-iris1::before,
.eye-iris2::before {
  position: absolute;
  content: '';
}
.tears-plane {
  background-color: transparent;
  height: 15%;
  width: 47%;
  position: absolute;
  top: 20%;
  left: 26.5%;
  display: flex;
  justify-content: space-between;
}
.tear1,
.tear2 {
  content: '';
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 0px;
  border: 1px solid #000;
  position: relative;
}
.tear1::after,
.tear2::after {
  position: absolute;
  content: '';
  background-color: var(--tear-color);
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.tear1::after {
  right: 11px;
  top: 2px;
}
.tear2::after {
  left: 11px;
  top: 2px;
}
.tear1::before,
.tear2::before {
  position: absolute;
  content: '';
}
.mouth {
  position: absolute;
  background-color: #000;
  width: 20px;
  height: 1px;
  top: 42%;
  left: 46%;
}
/* ground contains groundBumps */
.ground {
  background-color: var(--mud-color);
  /* border: var(--all-border); */
  flex-grow: 1;
  flex-shrink: 1;
}
.groundBumps {
  /* border: var(--all-border); */
  display: flex;
  /* background-color: transparent; */
  height: 15%;
  width: 100vw;
  position: absolute;
  top: 95%;
}
